projects/07-law-firm-receptionist/workflows/00-inbound-router.json
[{"updatedAt":"2026-04-16T16:33:52.526Z","createdAt":"2026-04-16T07:27:59.813Z","id":"FLwRcrFZlbJNDuoV","name":"00 · Inbound Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"inbound","responseMode":"responseNode","options":{}},"name":"Webhook — All Channels","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,208],"webhookId":"law-firm-inbound","id":"a70b3615-a0ed-4110-b0c3-21bd5e9c8a04"},{"parameters":{"jsCode":"// Webhook wraps payload in .body; support both raw and wrapped\nconst input = $input.first().json;\nconst body = input.body || input;\nconst channel = body.channel || 'unknown';\n\nreturn [{\n  json: {\n    channel,\n    rawMessage: body.message || body.Body || body.text || '',\n    callerName: body.callerName || body.name || '',\n    callerPhone: body.From || body.phone || body.callerPhone || '',\n    callerEmail: body.email || body.callerEmail || '',\n    receivedAt: new Date().toISOString(),\n    isAfterHours: (() => {\n        if (body.forceBusinessHours) return false;\n      const localTime = new Date(new Date().toLocaleString('en-US', { timeZone: 'Africa/Blantyre' }));\n      const hour = localTime.getHours();\n      const day = localTime.getDay();\n      return day === 0 || day === 6 || hour < 9 || hour >= 18;\n    })(),\n    raw: body\n  }\n}];"},"name":"Normalise payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,208],"id":"c97c2298-33a1-4159-a3a6-2551e11c3973"},{"parameters":{"jsCode":"const raw = $json.output || $json.text || '';\n\n// Strip markdown code blocks if present\nconst cleaned = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\n// Extract the first JSON object found\nconst match = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (!match) {\n  throw new Error('No JSON in triage response: ' + raw.substring(0, 200));\n}\n\nlet triage;\ntry {\n  triage = JSON.parse(match[0]);\n} catch (e) {\n  throw new Error('Bad JSON: ' + e.message + ' | ' + raw.substring(0, 200));\n}\n\nconst upstream = $('Normalise payload').first().json;\nreturn [{ json: { ...upstream, triage } }];"},"name":"Parse triage JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,208],"id":"f91ad5f0-798c-49e1-aada-b83027e43147"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"after-hours","leftValue":"={{ $json.isAfterHours }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"name":"After hours?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1488,304],"id":"43f3a3e4-4590-4e59-af7c-a58c0254cd34"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.triage.intent }}","operation":"equal","value2":"emergency"}]}},"name":"Emergency?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1264,208],"id":"85fe1228-e8d9-4760-939b-2f130210e785"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#firm-channel","mode":"name"},"text":"=🚨 *Emergency after-hours contact*\nName: {{ $json.triage.extractedName || $json.callerName }}\nPhone: {{ $json.callerPhone }}\nSummary: {{ $json.triage.summary }}\nPlease call back immediately.","otherOptions":{}},"name":"Slack — Emergency alert","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1488,112],"id":"49763f70-6633-40b0-b5d0-a15a2a3115f2","webhookId":"9cd726dc-d9eb-4438-b901-7b9b16593021","credentials":{"slackApi":{"id":"0URryMYfzJhxv2sU","name":"Slack account"}}},{"parameters":{"dataType":"string","value1":"={{ $json.triage.intent }}","rules":{"rules":[{"value2":"new_client"},{"value2":"appointment"},{"value2":"existing_client"},{"value2":"billing"}]}},"name":"Intent switch","type":"n8n-nodes-base.switch","typeVersion":2,"position":[1712,400],"id":"e4a4e19a-e343-4e47-b762-2642e7e94b12"},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"received\", \"message\": \"{{ $('Parse triage JSON').first().json.triage.suggestedReply }}\" }","options":{}},"name":"Respond to webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2160,128],"id":"d9dfde65-bf03-46f1-8c24-93171c530e03"},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[760,432],"id":"b7c3c823-0ae4-44ef-a760-bdfc93a46daf","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"mvHRARyaM5kC0GwU","name":"OpenRouter account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"bM5YAPkzUM7fNVgY"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1936,128],"id":"3db30c51-2cb5-451d-b125-af74a91e9ac3","name":"Client Intake"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"65GZBTnXLKNdCUyy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,208],"id":"b964e9d5-792a-42fa-a17e-c6ca0b2cd4cd","name":"Queue Morning Digest"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"XpxjpeuiCPKP7ZZ4"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1936,320],"id":"174f8cd1-b416-441a-93d1-dc16e1cdbc95","name":"Appointment Scheduling"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"mgH0Ox6ARn5gKdtZ"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1936,704],"id":"b6d79a8f-1fdf-4bce-8490-c8239dc846dd","name":"Client Communications"},{"parameters":{"workflowId":{"__rl":true,"value":"c9zbO4EzUbE7hT8L","mode":"list","cachedResultUrl":"/workflow/c9zbO4EzUbE7hT8L","cachedResultName":"06 · Billing & Time"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1936,512],"id":"c20e4f46-cfb4-43b6-b828-b7655ed04a52","name":"Billing & Time"},{"parameters":{"promptType":"define","text":"=You are a law firm intake specialist. Analyse this inbound message and extract structured information.\n\nMessage: {{ $json.rawMessage }}\nChannel: {{ $json.channel }}\nCaller name: {{ $json.callerName }}\nCaller phone: {{ $json.callerPhone }}\nCaller email: {{ $json.callerEmail }}\n\nReturn ONLY a valid JSON object. No markdown, no code blocks, no explanation. Exactly this structure:\n{\n  \"intent\": \"new_client\",\n  \"urgency\": \"low\",\n  \"matterType\": null,\n  \"extractedName\": null,\n  \"extractedPhone\": null,\n  \"extractedEmail\": null,\n  \"preferredAttorney\": null,\n  \"summary\": \"one sentence summary\",\n  \"suggestedReply\": \"warm professional reply under 60 words\"\n}\n\nintent must be one of: new_client, existing_client, appointment, billing, emergency, referral, spam, unknown\nurgency must be one of: low, medium, high\nmatterType must be one of: family, criminal, corporate, estate, real_estate, employment, immigration, other, or null","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[688,208],"id":"ebf545d6-19e5-4c72-8c1e-4cce3b0fad24","name":"AI Agent"}],"connections":{"Webhook — All Channels":{"main":[[{"node":"Normalise payload","type":"main","index":0}]]},"Normalise payload":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Emergency?":{"main":[[{"node":"Slack — Emergency alert","type":"main","index":0}],[{"node":"After hours?","type":"main","index":0}]]},"Intent switch":{"main":[[{"node":"Client Intake","type":"main","index":0}],[{"node":"Appointment Scheduling","type":"main","index":0}],[{"node":"Client Communications","type":"main","index":0}],[{"node":"Billing & Time","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Client Intake":{"main":[[{"node":"Respond to webhook","type":"main","index":0}]]},"Billing & Time":{"main":[[]]},"AI Agent":{"main":[[{"node":"Parse triage JSON","type":"main","index":0}]]},"After hours?":{"main":[[{"node":"Intent switch","type":"main","index":0}],[{"node":"Queue Morning Digest","type":"main","index":0}]]},"Parse triage JSON":{"main":[[{"node":"Emergency?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"076c8ccd-7239-4929-8714-f445ccb95397","activeVersionId":"076c8ccd-7239-4929-8714-f445ccb95397","versionCounter":120,"triggerCount":1,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"49Qs6SdsD2YyhqNv","name":"router"}],"shared":[{"updatedAt":"2026-04-16T07:27:59.813Z","createdAt":"2026-04-16T07:27:59.813Z","role":"workflow:owner","workflowId":"FLwRcrFZlbJNDuoV","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]