projects/07-law-firm-receptionist/workflows/01-client-intake.json
[{"updatedAt":"2026-04-16T13:20:04.930Z","createdAt":"2026-04-16T07:28:04.224Z","id":"bM5YAPkzUM7fNVgY","name":"01 · Client Intake","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,304],"id":"beb8dd5a-f56c-4102-bf2b-a184847b1240"},{"parameters":{"url":"https://eu.app.clio.com/api/v4/contacts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.triage?.extractedEmail || $json.callerEmail }}"},{"name":"fields","value":"id,name,email_addresses,type"},{"name":"type","value":"Contact"}]},"options":{"response":{"response":{"neverError":true}}}},"name":"Clio — Search existing contact","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[464,304],"id":"8eeea025-fcb5-442e-b2c0-c59640d47e71","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.data?.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}]},"options":{}},"name":"New contact?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304],"id":"b2572f80-56f5-48d9-8728-7c47067a9a98"},{"parameters":{"method":"POST","url":"https://eu.app.clio.com/api/v4/contacts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"name\": \"{{ $('Execute Workflow Trigger').first().json.triage?.extractedName || $('Execute Workflow Trigger').first().json.callerName }}\",\n    \"type\": \"Person\",\n    \"email_addresses\": [\n      {\n        \"name\": \"Work\",\n        \"address\": \"{{ $('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail }}\",\n        \"default_email\": true\n      }\n    ],\n    \"phone_numbers\": [\n      {\n        \"name\": \"Mobile\",\n        \"number\": \"{{ $('Execute Workflow Trigger').first().json.triage?.extractedPhone || $('Execute Workflow Trigger').first().json.callerPhone }}\",\n        \"default_number\": true\n      }\n    ]\n  }\n}","options":{}},"name":"Clio — Create contact","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[912,240],"id":"4a856e96-3005-4ac9-b746-b65982d2ad4c","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.conflictFound }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"name":"Conflict found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1360,304],"id":"84749504-67a2-4c05-bbda-4d6db24c1aec"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#firm-channel","mode":"name"},"text":"=⚠️ *Conflict of interest detected — intake paused*\nContact: {{ $('Execute Workflow Trigger').first().json.triage.extractedName }}\nMatter type: {{ $('Execute Workflow Trigger').first().json.triage.matterType }}\nConflict detail: {{ $json.conflictDetail }}\n\nPlease review before proceeding.","otherOptions":{}},"name":"Slack — Flag conflict","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1584,208],"id":"3d7826c6-ba03-4c02-92ab-62710c2ab674","webhookId":"362bd2fe-fa4d-4372-bb76-6c96fd91112d","credentials":{"slackApi":{"id":"0URryMYfzJhxv2sU","name":"Slack account"}}},{"parameters":{"method":"POST","url":"https://eu.app.clio.com/api/v4/matters","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"description\": \"{{ $('Execute Workflow Trigger').first().json.triage?.summary }}\",\n    \"practice_area\": {\n      \"name\": \"{{ $('Execute Workflow Trigger').first().json.triage?.matterType || 'General' }}\"\n    },\n    \"client\": {\n      \"id\": {{ $('Clio — Create contact').first().json.data?.id || $('Clio — Search existing contact').first().json.data?.[0]?.id }}\n    },\n    \"status\": \"Open\"\n  }\n}","options":{}},"name":"Clio — Create matter","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1584,400],"id":"73311bed-01cb-4c62-8383-5bcd1ececb81","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#firm-channel","mode":"name"},"text":"=✅ *New client intake started*\nName: {{ $('Execute Workflow Trigger').first().json.triage.extractedName }}\nMatter: {{ $('Execute Workflow Trigger').first().json.triage.matterType }}\nClio matter ID: {{ $('Clio — Create matter').first().json.data?.id }}\nSummary: {{ $('Execute Workflow Trigger').first().json.triage.summary }}","otherOptions":{}},"name":"Slack — Notify intake team","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1808,208],"id":"07e3fc77-b27d-4bf2-98ce-6833a068ba9e","webhookId":"85f5913c-c60f-4000-90de-8f01757c1570","credentials":{"slackApi":{"id":"0URryMYfzJhxv2sU","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"q4rmMgGigtGy4ad2","mode":"list","cachedResultUrl":"/workflow/q4rmMgGigtGy4ad2","cachedResultName":"04 · Document Generation"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,592],"id":"a0e1eed2-c1c4-4219-b024-08262978b124","name":"Generate Client Intake"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"XpxjpeuiCPKP7ZZ4"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,400],"id":"751005a5-1572-443b-8997-032235426cc0","name":"Schedule Consultation"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"wXvQmYPAJL99njEO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,304],"id":"80188f0c-48a9-4fd8-97c8-1ca418e11844","name":"Conflict of Interest Check"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Clio — Search existing contact","type":"main","index":0}]]},"Clio — Search existing contact":{"main":[[{"node":"New contact?","type":"main","index":0}]]},"New contact?":{"main":[[{"node":"Clio — Create contact","type":"main","index":0}],[{"node":"Conflict of Interest Check","type":"main","index":0}]]},"Clio — Create contact":{"main":[[{"node":"Conflict of Interest Check","type":"main","index":0}]]},"Conflict found?":{"main":[[{"node":"Slack — Flag conflict","type":"main","index":0}],[{"node":"Clio — Create matter","type":"main","index":0}]]},"Clio — Create matter":{"main":[[{"node":"Slack — Notify intake team","type":"main","index":0},{"node":"Generate Client Intake","type":"main","index":0},{"node":"Schedule Consultation","type":"main","index":0}]]},"Conflict of Interest Check":{"main":[[{"node":"Conflict found?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"10fce2c4-8622-4ebd-ae15-ed0d2d17aa44","activeVersionId":"10fce2c4-8622-4ebd-ae15-ed0d2d17aa44","versionCounter":87,"triggerCount":0,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T06:52:16.390Z","createdAt":"2026-04-16T06:52:16.390Z","id":"RLB02vH0unPii0Ok","name":"intake"}],"shared":[{"updatedAt":"2026-04-16T07:28:04.224Z","createdAt":"2026-04-16T07:28:04.224Z","role":"workflow:owner","workflowId":"bM5YAPkzUM7fNVgY","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]