projects/07-law-firm-receptionist/workflows/02-appointment-scheduling.json
[{"updatedAt":"2026-04-16T17:57:00.923Z","createdAt":"2026-04-16T07:28:08.449Z","id":"XpxjpeuiCPKP7ZZ4","name":"02 · Appointment Scheduling","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,304],"id":"1c7e7b53-8ff7-4baa-bfa3-b8fb37ac2c64"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"evancechapuma62@gmail.com","mode":"list","cachedResultName":"evancechapuma62@gmail.com"},"limit":20,"options":{"timeMin":"={{ new Date().toISOString() }}","timeMax":"={{ new Date(Date.now() + 7 * 86400000).toISOString() }}"}},"name":"Google Cal — Get busy slots","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[464,304],"id":"f82c2c7a-ae32-4879-9680-0c455f21820e","credentials":{"googleCalendarOAuth2Api":{"id":"imqMNxOAtfFYVIP9","name":"Google Calendar account"}}},{"parameters":{"jsCode":"\nconst busyEvents = $input.all().map(e => ({\n  start: new Date(e.json.start?.dateTime || e.json.start?.date),\n  end:   new Date(e.json.end?.dateTime   || e.json.end?.date)\n}));\n\nconst upstream   = $('Execute Workflow Trigger').first().json;\nconst clientName  = upstream.triage?.extractedName  || upstream.callerName  || '';\nconst clientEmail = upstream.triage?.extractedEmail || upstream.callerEmail || '';\nconst clientPhone = upstream.triage?.extractedPhone || upstream.callerPhone || '';\nconst matterType  = upstream.triage?.matterType     || 'general';\nconst BASE_URL    = 'http://localhost:5678/webhook/confirm-appointment';\n\nconst slots = [];\nfor (let d = 1; d <= 7 && slots.length < 5; d++) {\n  const date = new Date();\n  date.setDate(date.getDate() + d);\n  if (date.getDay() === 0 || date.getDay() === 6) continue;\n  for (let h = 9; h < 17 && slots.length < 5; h++) {\n    for (const m of [0, 30]) {\n      const s = new Date(date); s.setHours(h, m, 0, 0);\n      const e = new Date(s.getTime() + 30 * 60000);\n      if (!busyEvents.some(b => s < b.end && e > b.start)) {\n        const qs = 'start=' + encodeURIComponent(s.toISOString())\n          + '&end='    + encodeURIComponent(e.toISOString())\n          + '&name='   + encodeURIComponent(clientName)\n          + '&email='  + encodeURIComponent(clientEmail)\n          + '&phone='  + encodeURIComponent(clientPhone)\n          + '&matter=' + encodeURIComponent(matterType);\n        slots.push({\n          start: s.toISOString(), end: e.toISOString(),\n          label: s.toLocaleString('en-US', { weekday:'long', month:'long', day:'numeric', hour:'numeric', minute:'2-digit' }),\n          confirmUrl: BASE_URL + '?' + qs\n        });\n        if (slots.length >= 5) break;\n      }\n    }\n  }\n}\nreturn [{ json: { slots, clientName, clientEmail, clientPhone, matterType, upstream } }];\n"},"name":"Calculate free slots","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304],"id":"4f9c9435-a829-4e86-a70c-db4c146d94da"},{"parameters":{"sendTo":"={{ $json.upstream.triage?.extractedEmail || $json.upstream.callerEmail }}","subject":"Your consultation appointment — Acme Law Group","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Consultation Scheduling</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Schedule Your Consultation</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $json.clientName || 'Valued Client' }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Thank you for reaching out to Acme Law Group. We have reviewed your enquiry and are ready to schedule a consultation with one of our attorneys. Please click your preferred time below to confirm instantly — no reply needed.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><p style=\"margin:0 0 14px;color:#1a2744;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px;\">Available Consultation Slots</p>{{ $json.slots.map(s => `<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom:12px;\"><tr><td style=\"background:#f5f8ff;border:1px solid #dce6f5;border-radius:6px;padding:14px 20px;\"><table width=\"100%\"><tr><td style=\"vertical-align:middle;\"><span style=\"color:#1a2744;font-size:14px;font-weight:700;\">📅 ${s.label}</span><br><span style=\"color:#777;font-size:12px;\">30 min · In-person or video</span></td><td align=\"right\" style=\"vertical-align:middle;\"><a href=\"${s.confirmUrl}\" style=\"display:inline-block;background:#1a2744;color:#fff;text-decoration:none;padding:10px 18px;border-radius:4px;font-size:13px;font-weight:600;\">Book this slot →</a></td></tr></table></td></tr></table>`).join('') }}<hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">If none of these times are convenient, please reply to this email and we will arrange an alternative. Consultations may be held at our offices or via video call.</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">We look forward to assisting you.</p><p style=\"margin:0;color:#1a2744;font-size:14px;font-weight:600;\">Warm regards,<br><span style=\"color:#666;font-weight:400;\">Client Services, Acme Law Group</span></p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{}},"name":"Gmail — Propose slots","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[912,304],"id":"2459506c-b74c-490a-88c6-d2d3b68ce362","webhookId":"e4acccc6-3ef0-4427-a4cf-1db908afb359","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"path":"confirm-appointment","responseMode":"lastNode","options":{}},"name":"Webhook — Client confirms slot","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,528],"webhookId":"confirm-appointment","id":"96dde293-51ce-436c-ac4d-57cb639ce66a"},{"parameters":{"authentication":"oAuth2","additionalFields":{"duration":30,"settings":{},"type":2}},"name":"Zoom — Create meeting","type":"n8n-nodes-base.zoom","typeVersion":1,"position":[688,528],"id":"27a69c67-c663-4967-a60e-eb149471e16e","credentials":{"zoomOAuth2Api":{"id":"XN50hJN08EzcSlq6","name":"Zoom account"}}},{"parameters":{"calendar":{"__rl":true,"value":"evancechapuma62@gmail.com","mode":"list","cachedResultName":"evancechapuma62@gmail.com"},"start":"={{ $json.slotStart }}","end":"={{ $json.slotEnd }}","additionalFields":{"attendees":[{"email":"={{ $json.clientEmail }}"}],"description":"=Zoom: {{ $('Zoom — Create meeting').first().json.join_url }}\n\nMatter: {{ $json.matterType }}\nPhone: {{ $json.clientPhone }}","summary":"=Consultation — {{ $json.clientName }}"}},"name":"Google Cal — Book event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[912,528],"id":"739baf3d-fda1-4a33-9741-03da007e70bf","credentials":{"googleCalendarOAuth2Api":{"id":"imqMNxOAtfFYVIP9","name":"Google Calendar account"}}},{"parameters":{"sendTo":"={{ $json.clientEmail }}","subject":"Consultation confirmed — Acme Law Group","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Consultation Confirmation</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Your Consultation is Confirmed ✓</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $json.clientName }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Your consultation with Acme Law Group has been confirmed. Please find the details below.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f5f8ff;border:1px solid #dce6f5;border-radius:6px;margin-bottom:24px;\"><tr><td style=\"padding:10px 16px;font-size:13px;color:#666;font-weight:600;width:35%;\">📅 Date & Time</td><td style=\"padding:10px 16px;font-size:13px;color:#333;\">{{ new Date($json.slotStart).toLocaleString('en-US', { weekday:'long', month:'long', day:'numeric', hour:'numeric', minute:'2-digit' }) }}</td></tr><tr><td style=\"padding:10px 16px;font-size:13px;color:#666;font-weight:600;width:35%;\">⏱ Duration</td><td style=\"padding:10px 16px;font-size:13px;color:#333;\">30 minutes</td></tr><tr><td style=\"padding:10px 16px;font-size:13px;color:#666;font-weight:600;width:35%;\">📋 Matter</td><td style=\"padding:10px 16px;font-size:13px;color:#333;\">{{ $json.matterType }}</td></tr><tr><td style=\"padding:10px 16px;font-size:13px;color:#666;font-weight:600;width:35%;\">📞 Your Phone</td><td style=\"padding:10px 16px;font-size:13px;color:#333;\">{{ $json.clientPhone }}</td></tr></table><div style=\"background:#e8f4e8;border:1px solid #b8ddb8;border-radius:6px;padding:16px 20px;margin-bottom:24px;\"><p style=\"margin:0 0 8px;color:#2d6a2d;font-size:13px;font-weight:700;\">🎥 Video Call Link (Zoom)</p><p style=\"margin:0;\"><a href=\"{{ $('Zoom — Create meeting').first().json.join_url }}\" style=\"color:#1a6b1a;font-size:13px;word-break:break-all;\">{{ $('Zoom — Create meeting').first().json.join_url }}</a></p></div><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Please ensure you have a stable internet connection if joining via video. If you need to reschedule, please contact us at least 24 hours in advance.</p><p style=\"margin:0;color:#1a2744;font-size:14px;font-weight:600;\">We look forward to speaking with you.<br><span style=\"color:#666;font-weight:400;\">Acme Law Group</span></p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{}},"name":"Gmail — Confirmation","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1136,528],"id":"b0c83f7e-ffdc-4a80-9eb3-2174ea0f190a","webhookId":"4cd09dae-2581-43be-9b6c-0766c6862e63","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"amount":-24},"name":"Wait until 24h before","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1360,528],"id":"fdd76772-20be-448c-a6eb-5c189175387f","webhookId":"a3455d9a-68d6-4eb1-85fe-769a4893fcb0"},{"parameters":{"sendTo":"={{ $json.clientEmail }}","subject":"Reminder: Consultation tomorrow — Acme Law Group","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Appointment Reminder</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Reminder: Consultation Tomorrow</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $json.clientName }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">This is a friendly reminder that you have a consultation with Acme Law Group <strong>tomorrow</strong>.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#fff8e8;border:1px solid #f0d898;border-radius:6px;margin-bottom:24px;\"><tr><td style=\"padding:10px 16px;font-size:13px;color:#666;font-weight:600;width:35%;\">🕐 Time</td><td style=\"padding:10px 16px;font-size:13px;color:#333;\">{{ new Date($json.slotStart).toLocaleString('en-US', { weekday:'long', hour:'numeric', minute:'2-digit' }) }}</td></tr><tr><td style=\"padding:10px 16px;font-size:13px;color:#666;font-weight:600;width:35%;\">⏱ Duration</td><td style=\"padding:10px 16px;font-size:13px;color:#333;\">30 minutes</td></tr></table><div style=\"background:#e8f4e8;border:1px solid #b8ddb8;border-radius:6px;padding:16px 20px;margin-bottom:24px;\"><p style=\"margin:0 0 8px;color:#2d6a2d;font-size:13px;font-weight:700;\">🎥 Your Zoom Link</p><p style=\"margin:0;\"><a href=\"{{ $('Zoom — Create meeting').first().json.join_url }}\" style=\"color:#1a6b1a;font-size:13px;\">Click here to join the meeting</a></p></div><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">If you need to reschedule or have any questions, please contact us immediately by replying to this email or calling <strong>+265 1 234 567</strong>.</p><p style=\"margin:0;color:#1a2744;font-size:14px;font-weight:600;\">See you tomorrow!<br><span style=\"color:#666;font-weight:400;\">Acme Law Group</span></p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{}},"name":"Gmail — 24h reminder","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1584,528],"id":"85f86945-8b63-4a81-b7f4-f763ecf5c735","webhookId":"427ee556-70af-464f-b9ef-218214dc9d06","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"jsCode":"// GET webhook puts query params in $json.query\nconst q = $json.query || $json;\nreturn [{\n  json: {\n    slotStart:   q.start  || '',\n    slotEnd:     q.end    || '',\n    clientName:  q.name   || '',\n    clientEmail: q.email  || '',\n    clientPhone: q.phone  || '',\n    matterType:  q.matter || 'general'\n  }\n}];"},"name":"Parse confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,528],"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google Cal — Get busy slots","type":"main","index":0}]]},"Google Cal — Get busy slots":{"main":[[{"node":"Calculate free slots","type":"main","index":0}]]},"Calculate free slots":{"main":[[{"node":"Gmail — Propose slots","type":"main","index":0}]]},"Webhook — Client confirms slot":{"main":[[{"node":"Parse confirmation","type":"main","index":0}]]},"Zoom — Create meeting":{"main":[[{"node":"Google Cal — Book event","type":"main","index":0}]]},"Google Cal — Book event":{"main":[[{"node":"Gmail — Confirmation","type":"main","index":0}]]},"Gmail — Confirmation":{"main":[[{"node":"Wait until 24h before","type":"main","index":0}]]},"Wait until 24h before":{"main":[[{"node":"Gmail — 24h reminder","type":"main","index":0}]]},"Parse confirmation":{"main":[[{"node":"Zoom — Create meeting","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c39c62f-2704-442d-aa26-9f6d7b49c815","activeVersionId":"1c39c62f-2704-442d-aa26-9f6d7b49c815","versionCounter":37,"triggerCount":1,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T06:52:20.982Z","createdAt":"2026-04-16T06:52:20.982Z","id":"DaccPyuS9kYGONSQ","name":"scheduling"}],"shared":[{"updatedAt":"2026-04-16T07:28:08.449Z","createdAt":"2026-04-16T07:28:08.449Z","role":"workflow:owner","workflowId":"XpxjpeuiCPKP7ZZ4","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]