projects/07-law-firm-receptionist/workflows/03-conflict-of-interest.json
[{"updatedAt":"2026-04-16T13:33:01.196Z","createdAt":"2026-04-16T07:28:12.953Z","id":"wXvQmYPAJL99njEO","name":"03 · Conflict of Interest Check","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,400],"id":"27b1f9fb-fe52-49d5-84a0-251fd34381fb"},{"parameters":{"url":"https://eu.app.clio.com/api/v4/contacts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"name":"Clio — Search contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[464,304],"id":"b4fe2808-28ed-4d84-a86c-2043972a5a76","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"url":"https://eu.app.clio.com/api/v4/matters","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"name":"Clio — Search matters","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[464,496],"id":"31fb0590-84a5-45f4-9179-6f165c6ac2f0","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"jsCode":"const incomingName = ($('Execute Workflow Trigger').first().json.triage?.extractedName || $('Execute Workflow Trigger').first().json.callerName || '').toLowerCase();\nconst incomingEmail = ($('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail || '').toLowerCase();\n\nconst contacts = $('Clio — Search contacts').first().json.data || [];\nconst matters = $('Clio — Search matters').first().json.data || [];\n\nfunction tokenOverlap(a, b) {\n  const ta = a.split(/\\s+/);\n  const tb = b.split(/\\s+/);\n  return ta.some(t => t.length > 2 && tb.some(s => s.includes(t) || t.includes(s)));\n}\n\nlet conflictFound = false;\nlet conflictDetail = '';\n\nfor (const contact of contacts) {\n  const name = (contact.name || '').toLowerCase();\n  const emails = (contact.email_addresses || []).map(e => e.address.toLowerCase());\n  const nameMatch = tokenOverlap(incomingName, name);\n  const emailMatch = incomingEmail && emails.includes(incomingEmail);\n\n  if (nameMatch || emailMatch) {\n    for (const matter of matters) {\n      const opps = (matter.opposing_parties || []).map(o => (o.name || '').toLowerCase());\n      if (opps.some(o => tokenOverlap(o, name))) {\n        conflictFound = true;\n        conflictDetail = `\"${contact.name}\" appears as opposing party in matter #${matter.id}: ${matter.description}`;\n        break;\n      }\n    }\n  }\n  if (conflictFound) break;\n}\n\nreturn [{ json: { conflictFound, conflictDetail, checkedName: incomingName, upstream: $('Execute Workflow Trigger').first().json } }];"},"name":"Run conflict check","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,400],"id":"e2596222-eea0-42bb-9bcd-df16b5356ea7"},{"id":"3407f69d-b054-4530-8c9d-7edb6dcf2478","name":"Merge results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[688,400],"parameters":{"mode":"combineByPosition","options":{}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Clio — Search contacts","type":"main","index":0},{"node":"Clio — Search matters","type":"main","index":0}]]},"Clio — Search contacts":{"main":[[{"node":"Merge results","type":"main","index":0}]]},"Clio — Search matters":{"main":[[{"node":"Merge results","type":"main","index":1}]]},"Merge results":{"main":[[{"node":"Run conflict check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"cddf1a69-672f-4437-9bed-71dd817521ab","activeVersionId":"cddf1a69-672f-4437-9bed-71dd817521ab","versionCounter":39,"triggerCount":0,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T06:52:25.218Z","createdAt":"2026-04-16T06:52:25.218Z","id":"xgaPksQN7aUuDKBr","name":"conflict"}],"shared":[{"updatedAt":"2026-04-16T07:28:12.953Z","createdAt":"2026-04-16T07:28:12.953Z","role":"workflow:owner","workflowId":"wXvQmYPAJL99njEO","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]