projects/07-law-firm-receptionist/workflows/04-document-generation.json
[{"updatedAt":"2026-04-16T09:42:32.757Z","createdAt":"2026-04-16T08:41:58.328Z","id":"q4rmMgGigtGy4ad2","name":"04 · Document Generation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[48,304],"id":"ebf1477b-8f82-4af4-ada3-9d6217111274"},{"parameters":{"promptType":"define","text":"=You are a law firm document specialist. Generate a professional client engagement letter for the following matter.\n\nClient name: {{ $json.triage?.extractedName || $json.callerName }}\nMatter type: {{ $json.triage?.matterType }}\nSummary: {{ $json.triage?.summary }}\nClio matter ID: {{ $json.matterId || 'Pending' }}\n\nWrite a formal engagement letter that:\n1. Welcomes the client\n2. Describes the scope of representation based on the matter type\n3. Outlines next steps (complete intake questionnaire, attend consultation)\n4. States that a retainer agreement will follow\n5. Is signed off by 'The Legal Team, Acme Law Group'\n\nReturn plain HTML only using <p>, <ul>, <li>, <strong> tags. No markdown."},"name":"Claude — Draft engagement letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[272,304],"id":"f6c27c95-fcd2-4b44-a29b-cec0017723df"},{"parameters":{"sendTo":"={{ $('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail }}","subject":"=Welcome to Acme Law Group — Your Engagement Letter","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Client Engagement Letter</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Welcome to Acme Law Group</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $('Execute Workflow Trigger').first().json.triage?.extractedName || 'Valued Client' }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">We are pleased to welcome you to Acme Law Group. Please find your engagement letter below, prepared by our team following your initial enquiry.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><div style=\"background:#f9f9f9;border-left:4px solid #1a2744;padding:20px 24px;border-radius:0 6px 6px 0;margin-bottom:24px;\">{{ $json.text }}</div><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">The next steps are outlined in the letter above. Please do not hesitate to contact us if you have any questions.</p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{},"emailType":"html"},"name":"Gmail — Send engagement letter","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[688,304],"id":"ab463b1e-aeb0-487c-ad29-f70a0da57f99","webhookId":"a81c4c4c-dbef-4e41-a46e-786e6cbc6f2b","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=Generate a short intake questionnaire for a {{ $('Execute Workflow Trigger').first().json.triage?.matterType }} legal matter.\n\nCreate 8-10 relevant questions a lawyer would need answered before the consultation. Format as an HTML form with <label> and <input> or <textarea> fields, wrapped in a <form> tag with id='intake-form'. Include a submit button. Keep it clean and professional."},"name":"Claude — Generate questionnaire","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[688,512],"id":"f77a1282-0992-4a88-922d-2065e9a613b8"},{"parameters":{"sendTo":"={{ $('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail }}","subject":"=Action required: Please complete your intake questionnaire — Acme Law Group","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Intake Questionnaire</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Action Required: Intake Questionnaire</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $('Execute Workflow Trigger').first().json.triage?.extractedName || 'Valued Client' }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">To ensure our attorneys are fully prepared for your consultation, please complete the intake questionnaire below. Your responses will be kept strictly confidential.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><div style=\"background:#f9f9f9;border:1px solid #e0e6f0;border-radius:6px;padding:24px;\">{{ $json.text }}</div><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Please reply to this email with your completed answers, or complete the form above and click Submit. If you have any questions, please call us on <strong>+265 1 234 567</strong>.</p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{},"emailType":"html"},"name":"Gmail — Send questionnaire","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,480],"id":"4397d233-aeb7-4b0a-aa6c-76add3b73156","webhookId":"76ddb4ba-5846-4875-9b7c-a61b5d844c88","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#firm-channel","mode":"name"},"text":"=📄 *Documents sent to new client*\nName: {{ $('Execute Workflow Trigger').first().json.triage?.extractedName }}\nEmail: {{ $('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail }}\nMatter: {{ $('Execute Workflow Trigger').first().json.triage?.matterType }}\n✅ Engagement letter sent\n✅ Intake questionnaire sent","otherOptions":{}},"name":"Slack — Notify docs sent","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1248,384],"id":"b70f7219-f082-43f5-a856-87a3bfff9f4f","webhookId":"150ce259-8d62-4902-83f6-1a5a4b184c68","credentials":{"slackApi":{"id":"0URryMYfzJhxv2sU","name":"Slack account"}}},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[208,512],"id":"d1baf308-66c4-4a79-859a-82e31219845b","name":"Claude","credentials":{"openRouterApi":{"id":"mvHRARyaM5kC0GwU","name":"OpenRouter account"}}},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[624,720],"id":"3b56dd71-6a87-4111-b1d5-cf9af66ab569","name":"Claude sonnet","credentials":{"openRouterApi":{"id":"mvHRARyaM5kC0GwU","name":"OpenRouter account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Claude — Draft engagement letter","type":"main","index":0}]]},"Claude — Draft engagement letter":{"main":[[{"node":"Gmail — Send engagement letter","type":"main","index":0}]]},"Gmail — Send engagement letter":{"main":[[{"node":"Claude — Generate questionnaire","type":"main","index":0}]]},"Claude — Generate questionnaire":{"main":[[{"node":"Gmail — Send questionnaire","type":"main","index":0}]]},"Gmail — Send questionnaire":{"main":[[{"node":"Slack — Notify docs sent","type":"main","index":0}]]},"Claude":{"ai_languageModel":[[{"node":"Claude — Draft engagement letter","type":"ai_languageModel","index":0}]]},"Claude sonnet":{"ai_languageModel":[[{"node":"Claude — Generate questionnaire","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1124305b-e5fe-477f-9206-c216fc3a9594","activeVersionId":"1124305b-e5fe-477f-9206-c216fc3a9594","versionCounter":39,"triggerCount":0,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T08:41:58.328Z","createdAt":"2026-04-16T08:41:58.328Z","id":"TzjMTeEJMHYECQ3Q","name":"documents"}],"shared":[{"updatedAt":"2026-04-16T08:41:58.328Z","createdAt":"2026-04-16T08:41:58.328Z","role":"workflow:owner","workflowId":"q4rmMgGigtGy4ad2","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]