projects/07-law-firm-receptionist/workflows/05-client-communications.json
[{"updatedAt":"2026-04-16T13:27:19.765Z","createdAt":"2026-04-16T08:42:02.881Z","id":"mgH0Ox6ARn5gKdtZ","name":"05 · Client Communications","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,304],"id":"b831f29f-bdce-4bd4-8503-f5e867f90fb3"},{"parameters":{"url":"https://eu.app.clio.com/api/v4/contacts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"name":"Clio — Lookup client","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[464,304],"id":"4517ca02-d078-4f13-b807-02e96b50527b","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"url":"=https://eu.app.clio.com/api/v4/matters","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $json.data?.[0]?.id }}"},{"name":"status","value":"Open,Pending"},{"name":"fields","value":"id,description,status,practice_area,responsible_attorney"}]},"options":{}},"name":"Clio — Get open matters","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[688,304],"id":"d65b219b-3d6b-4c97-8d5e-2108bf97925f","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"promptType":"define","text":"=You are a professional law firm receptionist at Acme Law Group. A client has contacted you.\n\nClient message: {{ $('Execute Workflow Trigger').first().json.rawMessage }}\nClient name: {{ $('Execute Workflow Trigger').first().json.triage?.extractedName || $('Execute Workflow Trigger').first().json.callerName }}\nIntent: {{ $('Execute Workflow Trigger').first().json.triage?.intent }}\nUrgency: {{ $('Execute Workflow Trigger').first().json.triage?.urgency }}\n\nOpen matters on file:\n{{ JSON.stringify($json.data || [], null, 2) }}\n\nWrite a warm, professional email response that:\n1. Acknowledges their message\n2. References their open matter(s) if any\n3. Provides next steps or directs them to the right attorney\n4. Does NOT give specific legal advice\n5. Signs off as 'Client Services, Acme Law Group'\n\nReturn plain HTML using <p> tags only. No markdown."},"name":"Claude — Draft response","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[912,304],"id":"8f639f9c-3e5e-469c-9c34-f0aa06a7a714"},{"parameters":{"sendTo":"={{ $('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail }}","subject":"=Re: Your enquiry — Acme Law Group","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Client Communication</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Re: Your Enquiry</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $('Execute Workflow Trigger').first().json.triage?.extractedName || 'Valued Client' }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Thank you for contacting Acme Law Group. We have reviewed your message and our response is below.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><div style=\"background:#f9f9f9;border-left:4px solid #1a2744;padding:20px 24px;border-radius:0 6px 6px 0;margin-bottom:24px;\">{{ $json.text }}</div><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">If you have any further questions or require clarification, please do not hesitate to reply to this email or call our offices directly.</p><p style=\"margin:0;color:#1a2744;font-size:14px;font-weight:600;\">Kind regards,<br><span style=\"color:#666;font-weight:400;\">Client Services, Acme Law Group</span></p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{},"emailType":"html"},"name":"Gmail — Send response","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1264,304],"id":"bae32f5b-65b6-4e80-b6cb-676b7bc5e29b","webhookId":"28eca15b-8586-451d-bb21-e5a961401e0a","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#firm-channel","mode":"name"},"text":"=💬 *Client communication handled*\nClient: {{ $('Execute Workflow Trigger').first().json.triage?.extractedName }}\nIntent: {{ $('Execute Workflow Trigger').first().json.triage?.intent }}\nUrgency: {{ $('Execute Workflow Trigger').first().json.triage?.urgency }}\nSummary: {{ $('Execute Workflow Trigger').first().json.triage?.summary }}\n✅ Response sent via email","otherOptions":{}},"name":"Slack — Log communication","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1488,304],"id":"5afe8a30-1ecf-4df9-8d98-ae8d30a8740b","webhookId":"af76b77f-98e9-4919-bcfb-62e59d59a632","credentials":{"slackApi":{"id":"0URryMYfzJhxv2sU","name":"Slack account"}}},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[848,512],"id":"14bfd30b-216a-44bb-b1b4-924fc6497cb2","name":"Claude Sonnet","credentials":{"openRouterApi":{"id":"mvHRARyaM5kC0GwU","name":"OpenRouter account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Clio — Lookup client","type":"main","index":0}]]},"Clio — Lookup client":{"main":[[{"node":"Clio — Get open matters","type":"main","index":0}]]},"Clio — Get open matters":{"main":[[{"node":"Claude — Draft response","type":"main","index":0}]]},"Claude — Draft response":{"main":[[{"node":"Gmail — Send response","type":"main","index":0}]]},"Gmail — Send response":{"main":[[{"node":"Slack — Log communication","type":"main","index":0}]]},"Claude Sonnet":{"ai_languageModel":[[{"node":"Claude — Draft response","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ed198a45-dcff-469a-aaf8-7c8e924e7547","activeVersionId":"ed198a45-dcff-469a-aaf8-7c8e924e7547","versionCounter":68,"triggerCount":0,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T08:42:02.881Z","createdAt":"2026-04-16T08:42:02.881Z","id":"KpVkydq3hOZzmlr8","name":"communications"}],"shared":[{"updatedAt":"2026-04-16T08:42:02.881Z","createdAt":"2026-04-16T08:42:02.881Z","role":"workflow:owner","workflowId":"mgH0Ox6ARn5gKdtZ","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]