projects/07-law-firm-receptionist/workflows/06-billing-time.json
[{"updatedAt":"2026-04-16T16:19:06.516Z","createdAt":"2026-04-16T08:42:07.442Z","id":"c9zbO4EzUbE7hT8L","name":"06 · Billing & Time","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,400],"id":"513f93ee-8528-4314-ad7f-76c1e7aa9b22"},{"parameters":{"url":"https://eu.app.clio.com/api/v4/contacts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"name":"Clio — Find client","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[464,400],"id":"82804e32-8174-413d-964f-fcb1a96f4a5a","credentials":{"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"url":"https://eu.app.clio.com/api/v4/bills","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $json.data?.[0]?.id }}"},{"name":"state[]","value":"awaiting_payment"},{"name":"fields","value":"id,number,issued_at,due_at,balance,total,state,matters"}]},"options":{"response":{"response":{"neverError":true}}}},"name":"Clio — Get outstanding bills","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[688,304],"id":"88fdb96f-79e1-4d9b-9464-7bc5897cfd09","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"url":"https://eu.app.clio.com/api/v4/time_entries","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $('Clio — Find client').first().json.data?.[0]?.id }}"},{"name":"fields","value":"id,date,quantity,total,note,matter,user"}]},"options":{}},"name":"Clio — Get time entries","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[688,496],"id":"b7663af9-2da7-46f3-ae8c-25b464de0241","credentials":{"httpHeaderAuth":{"id":"JfVbtGDh0UXFmQND","name":"Header Auth account"},"oAuth2Api":{"id":"s20SuLK0RVJ22mmj","name":"Clio API"},"httpBearerAuth":{"id":"g5b05LbtVZOffzvE","name":"Clio"}}},{"parameters":{"promptType":"define","text":"=You are a professional billing assistant at Acme Law Group. A client has a billing enquiry.\n\nClient message: {{ $('Execute Workflow Trigger').first().json.rawMessage }}\nClient name: {{ $('Execute Workflow Trigger').first().json.triage?.extractedName || $('Execute Workflow Trigger').first().json.callerName }}\n\nOutstanding bills:\n{{ JSON.stringify($('Clio — Get outstanding bills').first().json.data || [], null, 2) }}\n\nRecent time entries:\n{{ JSON.stringify($('Clio — Get time entries').first().json.data || [], null, 2) }}\n\nWrite a professional billing summary email that:\n1. Summarises current outstanding balance(s)\n2. Lists recent billable activity clearly\n3. Explains how to make a payment (reply to this email or call the office)\n4. If no outstanding bills, confirms account is up to date\n5. Is warm but professional\n6. Signs off as 'Billing Department, Acme Law Group'\n\nReturn plain HTML using <p>, <table>, <tr>, <td>, <strong> tags. No markdown."},"name":"Claude — Draft billing summary","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1136,400],"id":"a4970482-14c7-41da-86ca-9e10e43d5fcf"},{"parameters":{"sendTo":"={{ $('Execute Workflow Trigger').first().json.triage?.extractedEmail || $('Execute Workflow Trigger').first().json.callerEmail }}","subject":"=Your billing summary — Acme Law Group","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Billing Statement</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 20px;color:#1a2744;font-size:19px;font-weight:700;\">Your Billing Summary</h2><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Dear <strong>{{ $('Execute Workflow Trigger').first().json.triage?.extractedName || 'Valued Client' }}</strong>,</p><p style=\"margin:0 0 16px;color:#444;font-size:15px;line-height:1.7;\">Please find your current billing summary from Acme Law Group below.</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><div style=\"background:#f9f9f9;border:1px solid #e0e6f0;border-radius:6px;padding:24px;margin-bottom:24px;\">{{ $json.text }}</div><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><div style=\"background:#fff8e8;border:1px solid #f0d898;border-radius:6px;padding:16px 20px;margin-bottom:24px;\"><p style=\"margin:0 0 8px;color:#8a6a00;font-size:13px;font-weight:700;\">💳 How to Make a Payment</p><p style=\"margin:0;color:#555;font-size:13px;line-height:1.6;\">You may settle your account by bank transfer, mobile money, or in person at our offices. Please include your matter reference number. Reply to this email or call <strong>+265 1 234 567</strong> if you have any queries.</p></div><p style=\"margin:0;color:#1a2744;font-size:14px;font-weight:600;\">Kind regards,<br><span style=\"color:#666;font-weight:400;\">Billing Department, Acme Law Group</span></p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{}},"name":"Gmail — Send billing summary","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1488,400],"id":"60beec86-b823-466f-a65c-3c32603708ea","webhookId":"a8dc8614-7a71-46b5-a395-afb8878c6ac2","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $('Clio — Get outstanding bills').first().json.data?.length }}","rightValue":0,"operator":{"type":"number","operation":"largerThan"}}]},"options":{}},"name":"Has outstanding bills?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1712,400],"id":"a55b2f15-f125-4d70-af1e-71c39bd9108b"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#firm-channel","mode":"name"},"text":"=💰 *Outstanding billing enquiry*\nClient: {{ $('Execute Workflow Trigger').first().json.triage?.extractedName }}\nBills outstanding: {{ $('Clio — Get outstanding bills').first().json.data?.length }}\nSummary sent via email. Please follow up if no payment within 48h.","otherOptions":{}},"name":"Slack — Alert outstanding balance","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1936,400],"id":"8bb790cb-efb2-435b-8316-7c3dd53ecb9a","webhookId":"3908c5de-49e6-44e7-ad23-787475d11688","credentials":{"slackApi":{"id":"0URryMYfzJhxv2sU","name":"Slack account"}}},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1208,624],"id":"6210a8f5-af51-4bd4-8091-8e63640718bf","name":"Claude Sonnet","credentials":{"openRouterApi":{"id":"mvHRARyaM5kC0GwU","name":"OpenRouter account"}}},{"parameters":{"mode":"combineByPosition"},"id":"4b9ff29a-ba5a-4af5-b60d-907ef5e5a440","name":"Merge billing data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[912,400]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Clio — Find client","type":"main","index":0}]]},"Clio — Find client":{"main":[[{"node":"Clio — Get outstanding bills","type":"main","index":0},{"node":"Clio — Get time entries","type":"main","index":0}]]},"Claude — Draft billing summary":{"main":[[{"node":"Gmail — Send billing summary","type":"main","index":0}]]},"Gmail — Send billing summary":{"main":[[{"node":"Has outstanding bills?","type":"main","index":0}]]},"Has outstanding bills?":{"main":[[{"node":"Slack — Alert outstanding balance","type":"main","index":0}],[]]},"Claude Sonnet":{"ai_languageModel":[[{"node":"Claude — Draft billing summary","type":"ai_languageModel","index":0}]]},"Clio — Get outstanding bills":{"main":[[{"node":"Merge billing data","type":"main","index":0}]]},"Clio — Get time entries":{"main":[[{"node":"Merge billing data","type":"main","index":1}]]},"Merge billing data":{"main":[[{"node":"Claude — Draft billing summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"994e01d2-2236-4fd2-94d8-1ca9f2d248fd","activeVersionId":"994e01d2-2236-4fd2-94d8-1ca9f2d248fd","versionCounter":61,"triggerCount":0,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T08:42:07.442Z","createdAt":"2026-04-16T08:42:07.442Z","id":"3HKz58dyXTmlYD77","name":"billing"}],"shared":[{"updatedAt":"2026-04-16T08:42:07.442Z","createdAt":"2026-04-16T08:42:07.442Z","role":"workflow:owner","workflowId":"c9zbO4EzUbE7hT8L","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]