projects/07-law-firm-receptionist/workflows/07-morning-digest.json
[{"updatedAt":"2026-04-16T09:44:55.789Z","createdAt":"2026-04-16T07:28:17.380Z","id":"65GZBTnXLKNdCUyy","name":"07 · Morning Digest","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"name":"Cron — 8am weekdays","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,304],"id":"c21d943c-9f74-44bd-ac89-5c6326d16069"},{"parameters":{},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[464,496],"id":"0aad4226-7812-4ccc-a4dd-2adc6cf3dc0e"},{"parameters":{"operation":"getAll","limit":20,"filters":{"q":"=is:unread after:{{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}"}},"name":"Gmail — Overnight messages","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,304],"id":"57e8630e-5852-49e5-98a0-de69c9cce913","webhookId":"e645bad9-6ca6-4405-a7b4-5f5187b24a9a","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.map(i => ({\n  json: {\n    source: 'gmail',\n    from: i.json.from,\n    subject: i.json.subject,\n    snippet: i.json.snippet,\n    receivedAt: i.json.internalDate\n  }\n}));"},"name":"Merge overnight items","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,400],"id":"746a98f2-122b-4866-91fa-11b3e6c57fd6"},{"parameters":{"promptType":"define","text":"=You are a law firm receptionist. Summarise these overnight messages into a concise priority digest for the attorneys. Group by urgency (High, Medium, Low). Return plain HTML only (no markdown) using <h3> for urgency sections and <ul><li> for items. Keep it under 300 words.\n\nMessages:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}"},"name":"Claude — Summarise overnight","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[912,400],"id":"9d329825-5e22-4357-923a-d63b26b8a827"},{"parameters":{"sendTo":"intake@acmelawgroup.com","subject":"=Morning Briefing — {{ new Date().toLocaleDateString('en-US', { weekday:'long', month:'long', day:'numeric' }) }}","message":"=<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#eef1f6;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef1f6;padding:40px 20px;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);\">\n<tr><td style=\"background:linear-gradient(135deg,#1a2744 0%,#2c4a8c 100%);padding:36px 40px;\">\n  <table width=\"100%\"><tr>\n    <td><h1 style=\"margin:0;color:#fff;font-size:22px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">Acme Law Group</h1>\n    <p style=\"margin:6px 0 0;color:#a8c4e8;font-size:11px;letter-spacing:3px;text-transform:uppercase;\">Legal Excellence · Est. 1985</p></td>\n    <td align=\"right\" style=\"color:#fff;font-size:28px;\">⚖️</td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"padding:8px 40px 0;background:#2c4a8c;\">\n  <p style=\"margin:0;padding:10px 0;color:#d0e4ff;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-top:1px solid rgba(255,255,255,0.15);\">Daily Overnight Summary</p>\n</td></tr>\n<tr><td style=\"padding:36px 40px;\"><h2 style=\"margin:0 0 6px;color:#1a2744;font-size:20px;font-weight:700;\">Morning Briefing</h2><p style=\"margin:0 0 24px;color:#888;font-size:13px;\">{{ new Date().toLocaleDateString('en-US', { weekday:'long', month:'long', day:'numeric' }) }}</p><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><div style=\"background:#f9f9f9;border:1px solid #e0e6f0;border-radius:6px;padding:24px;\">{{ $json.text || '<p style=\"color:#888;\">No overnight messages to report.</p>' }}</div><hr style=\"border:none;border-top:1px solid #e8ecf2;margin:24px 0;\"><p style=\"margin:0;color:#888;font-size:12px;text-align:center;\">Generated automatically by the Acme Law Group receptionist system</p></td></tr>\n<tr><td style=\"background:#f5f7fa;padding:24px 40px;border-top:3px solid #1a2744;\">\n  <table width=\"100%\"><tr><td>\n    <p style=\"margin:0;color:#1a2744;font-size:12px;font-weight:700;\">Acme Law Group</p>\n    <p style=\"margin:4px 0 0;color:#777;font-size:11px;\">123 Legal Avenue, Blantyre, Malawi &nbsp;|&nbsp; +265 1 234 567 &nbsp;|&nbsp; info@acmelawgroup.com</p>\n  </td></tr><tr><td style=\"padding-top:12px;\">\n    <p style=\"margin:0;color:#aaa;font-size:10px;line-height:1.5;\">This email and any attachments are confidential and intended solely for the addressee. If you have received this in error, please notify us immediately and delete all copies. Acme Law Group is regulated by the Malawi Law Society.</p>\n  </td></tr></table>\n</td></tr>\n</table></td></tr></table>\n</body></html>","options":{},"emailType":"html"},"name":"Gmail — Send digest","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1264,400],"id":"3b62355e-64b0-46a3-9304-ac8a04781c10","webhookId":"2e2b408c-861f-4009-a8c4-d72952305ddf","credentials":{"gmailOAuth2":{"id":"neWyZOxX4ScanZ52","name":"Gmail account"}}},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[848,608],"id":"02e50870-6c84-4cf6-8179-155507091807","name":"Claude","credentials":{"openRouterApi":{"id":"mvHRARyaM5kC0GwU","name":"OpenRouter account"}}}],"connections":{"Cron — 8am weekdays":{"main":[[{"node":"Gmail — Overnight messages","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Merge overnight items","type":"main","index":0}]]},"Gmail — Overnight messages":{"main":[[{"node":"Merge overnight items","type":"main","index":0}]]},"Merge overnight items":{"main":[[{"node":"Claude — Summarise overnight","type":"main","index":0}]]},"Claude — Summarise overnight":{"main":[[{"node":"Gmail — Send digest","type":"main","index":0}]]},"Claude":{"ai_languageModel":[[{"node":"Claude — Summarise overnight","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron — 8am weekdays":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0367cc3d-20be-4143-94d6-e3bd78f9546a","activeVersionId":"0367cc3d-20be-4143-94d6-e3bd78f9546a","versionCounter":32,"triggerCount":1,"tags":[{"updatedAt":"2026-04-16T06:52:11.886Z","createdAt":"2026-04-16T06:52:11.886Z","id":"pridtsHA7T6pTnoF","name":"receptionist"},{"updatedAt":"2026-04-16T06:52:29.386Z","createdAt":"2026-04-16T06:52:29.386Z","id":"tmOFNVWVZdlrP4JN","name":"digest"}],"shared":[{"updatedAt":"2026-04-16T07:28:17.380Z","createdAt":"2026-04-16T07:28:17.380Z","role":"workflow:owner","workflowId":"65GZBTnXLKNdCUyy","projectId":"Kl8QLTw2H7ZR2Dc6","project":{"updatedAt":"2026-04-13T20:50:20.588Z","createdAt":"2026-01-24T10:53:07.424Z","id":"Kl8QLTw2H7ZR2Dc6","name":"Evance evancechapuma62@gmail.com <evancechapuma62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03fc4baa-b075-47b3-90d1-8c8579044ee3"}}]}]